<h1>Tell me about your yugioh cards</h1>

<form action="/profoak" method="post">
    Name<input type="text" name="name"><br>
    Type<input type="text" name="type"><br>
    Deliciousness<input type="text" name="deliciousness"><br>
    <button type="submit">Save that pokemon!</button><br>
    <input type="text" name="authenticity_token" id="authenticity_token" value="<%=form_authenticity_token%>">
</form>